# Ignore STM32 directories
.settings/
Debug/
Drivers/
Middlewares/
USB_HOST/
Core/Startup/

# Ignore STM32 files
.cproject
.mxproject
.project
STM32F407VGTX_FLASH.ld
STM32F407VGTX_RAM.ld
TEMP_SENS Debug.launch
